.ccls-cache/
.pio/
__pycache__/
compile_commands.json

processed/
images-uncompressed/

# kicad
schematic/*
!schematic/*.kicad_sch

# kicad
schematic/*
!schematic/*.kicad_pcb
!schematic/*.kicad_pro
!schematic/*.kicad_sch


